* {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.titleLogoCtner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  height: 10vh;
  background-color: black;
  border-bottom: white 1px solid;
}

.pageTitleCtner {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.pageTitle {
  background-color: black;
  color: white;
  font-size: 25px;
  font-stretch: condensed;
}

.logoCtner {
  padding-right: 10px;
}

.pageLogo {
  min-width: 130px;
}

.toolsLayerPicklistCtner {
  position: absolute;
  top: 10vh;
  left: 0;
}

.toolsCtner {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.toolsCtner div {
  cursor: pointer;
  padding-right: 5px;
  background-color: red;
}

.layerPicklist {
  background-color: white;
}

.mapDiv {
  height: 90vh;
  width: 100vw;
}

.legendWidget {
  position: absolute;
  right: 15px;
  bottom: 15px;
  height: fit-content;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .pageTitle {
    font-size: 16px;
  }
}

@media only screen and (max-width: 640px) {
  .toolsCtner span {
    display: none;
  }

  .pageTitle {
    font-size: 14px;
    padding: 3px;
  }
}
