@import "https://js.arcgis.com/4.25/@arcgis/core/assets/esri/themes/light/main.css";

body {
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  /* mobile viewport bug fix. https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
  min-height: -moz-available; /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  min-height: stretch;
}
